/* Buttons */
/* Inputs */
/* Timeline custom component */

ul {
  list-style-type: none; /* Removes bullet points */
}


.timeline {
  border-left: 2px solid #E6E9ED }

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  border-radius: 19px;
  margin-bottom: 1rem; }

.timeline-card:last-child {
  margin-bottom: 1rem; }

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2; }

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1; }

.timeline-card-primary {
  border-left-color: #4A89DC; }

.timeline-card-primary:before {
  border-color: #4A89DC; }

.timeline-card-primary:after {
  background-color: #4A89DC; }

.timeline-card-success {
  border-left-color: #37BC9B; }

.timeline-card-success:before {
  border-color: #37BC9B; }

.timeline-card-success:after {
  background-color: #37BC9B; }

html {
  scroll-behavior: smooth; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5); }

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8); }

.nav-item + .nav-item {
  margin-left: 1rem; }

.cover {
  border-radius: 10px; }

.cover-bg {
  background-color: hsla(60, 10%, 92%, 1);
  background-image: url('../images/Macquarie-University-ChrisStacey-411.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  box-shadow: 0 0px 6px 0px rgba(31, 38, 135, 0.37);
  border-radius: 10px 10px 15px 15px;
  color: #495057; }
.cover-bg img {
  width: 100%;  /* Makes the image responsive to its container */
  height: auto; /* Maintains the aspect ratio */
  max-width: 100%; /* Prevents the image from exceeding its original size */
  display: block; /* Removes unwanted spacing */
 }


 .curved-box {
  background-color: rgba(245, 235, 224, 0.5); /* Transparent background */
  border-radius: 15px; /* Curved border */
  padding: 10px 20px; /* Padding around text */
  display: inline-block; /* Box will only be as wide as the text inside */
  text-decoration: none; /* Remove underline */
  border: 2px solid rgba(211, 193, 181, 0.5); /* Transparent border */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  backdrop-filter: blur(5px); /* Optional blur */
  transition: all 0.3s ease; /* Smooth hover effect */
}

.curved-box-wrapper {
  display: block; /* Forces each curved-box to be on a new line */
  margin-bottom: 10px; /* Space between each box */
}


.pt-4 {
  padding-top: 1.5rem !important; }

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.avatar img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; }
  .avatar {
    margin-bottom: -80px;
    margin-left: 0; } }

@media print {
  body {
    background-color: #fff; }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover, .cover-bg {
    border-radius: 0; }
  .cover.shadow-lg {
    box-shadow: none !important; }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important; }
  .avatar {
    margin-top: -10px; }
  .about-section {
    padding: 6.5rem 5rem 2rem !important; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }
    hr {
      margin: 1rem 0;
      color: #adb5bd;
      background-color: currentColor;
      border: 0;
      opacity: 0.25; }
    
    hr:not([size]) {
      height: 1px; }